<nav>
  <div class="logo">
    Akash Preet
  </div>
  <ul class="nav-links d-flex justify-content-around">
    <li *ngFor="let nav of navbar" style="color: white;"><a href="#">{{nav.name}}</a></li>
  </ul>
  <div class="burger" (click)="navSlide()">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
  <div class="switch-wrapper" id="switch-wrapper">
    <label class="switch" for="theme">
      <input type="checkbox" id="theme" (click)="toggleTheme($event,'dark')">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </label>
  </div>
  <div>
    <a type="button" class="btn btn-outline-primary btn-lg" href="../../assets/Akash_resume.pdf"
      target="_blank">Resume</a>
  </div>
</nav>
