// ****************************************************************************************************************
// Global
// ****************************************************************************************************************

:root {
  --primary-color: #212c4f;
  --secondary-color: #f0f3f5;
  --d-opacity: 0;
  --l-opacity: 1;
  --height: 20rem;
  --font-primary: #212c4f;
  --font-secondary: #f0f3f5;
}
html{
    font-size: 10px;
}
body {
  background-color: var(--secondary-color);
  transition: background-color 1s ease;
  min-width: 250px;
  font-size: 1.6rem;
  overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--primary-color)
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.dark {
  --primary-color: #f0f3f5;
  --secondary-color: #212c4f;
  --d-opacity: 1;
  --l-opacity: 0;
  --height: 28rem;
  --font-primary: #f0f3f5;
  --font-secondary: #212c4f;
}
.block {
  height: 100vh;
  margin: 0 auto;
  background-color: var(--secondary-color);
  color: var(--font-primary);
  //border-bottom: 0.2rem solid var(--primary-color);
  transition: background-color 1s ease;
  max-width: 100rem;
}
.switch-fixed{
  position: fixed;
}
.switch-wrapper {
  height: var(--height);
  margin-left: 20rem;
  border-right: 0.4rem dotted var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6rem;
  right:3rem;
  transform: translateY(2rem);
  transition: height 1s cubic-bezier(0.75, -0.5, 0, 1.75);
}
.switch {
  height: 5rem;
  width: 5rem;
  background-color: var(--primary-color);
  transition: background-color 1s ease;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.switch i {
  font-size: 2.4rem;
  position: absolute;
  color: var(--font-secondary);
}
.switch [type='checkbox'] {
  opacity: 0;
}
.fa-sun {
  opacity: var(--d-opacity);
}
.fa-moon {
  opacity: var(--l-opacity);
}
.container-fluid{
  padding: 0px;

}
.btn-outline-primary{
  color:var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary:hover {
  color:var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
// ****************************************************************************************************************
// Navbar
// ****************************************************************************************************************

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--primary-color);
  position: fixed;
  width: 100%;
  padding: 0;
  transition: background-color 1s ease;
}

.logo {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color:var(--primary-color);
}

.nav-links {
  display: flex !important;
  justify-content: flex-end !important;
  width: 70%;
}

.nav-links li {
  list-style: none;
  margin: 0 5rem;
}

.nav-links a {
  color:var(--primary-color);
  text-decoration: none;
  letter-spacing: 0.3rem;
  font-weight: bold;
  font-size:1.6rem;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  margin: 5px;
  background-color:var(--primary-color);
  transition: background-color 1s ease;
  transition: all 0.3 ease;
}

.burger-toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.burger-toggle .line2{
  opacity: 0;
}
.burger-toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

// ****************************************************************************************************************
// Hero
// ****************************************************************************************************************

.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.hero h1{
  font-size:6rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.hero h3 {
  font-size:4.6rem;
  text-transform: uppercase;
}

// ****************************************************************************************************************
// Skills
// ****************************************************************************************************************
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  background-color: var(--secondary-color);
  color: var(--font-primary);
  //border-bottom: 0.2rem solid var(--primary-color);
  transition: background-color 1s ease;
  max-width: 100rem;
}
.skills-block{
  padding: 2rem;
  width: 90vw;
}
.skills-heading{
  font-size:2.6rem;
}
.skills-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  border: 0.4rem solid var(--primary-color);
  border-radius: 1rem;
  font-size: 1.6rem
}
.skills-data {
  flex: 1 1 14%;
  margin: 1.5rem 0;
  text-align: center;
}

.skills-data img{
  width: 6rem;
}
// ****************************************************************************************************************
// Contact
// ****************************************************************************************************************

.contact{
 display: flex;
 flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  margin: 0 auto;
  background-color: var(--secondary-color);
  color: var(--font-primary);
  //border-bottom: 0.2rem solid var(--primary-color);
  transition: background-color 1s ease;
  max-width: 100rem;
}
.contact-container{
  width: 60px;
  height: 60px;
  background-color:var(--primary-color);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.contact-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}


// ****************************************************************************************************************
// Animation
// ****************************************************************************************************************

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0rem);
  }
}

// ****************************************************************************************************************
// Media Query
// ****************************************************************************************************************

@media screen and (max-width: 850px) {
  body{
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }
  .nav-links a {
    color: var(--secondary-color);
    text-decoration: none;
    letter-spacing: 0.3rem;
    font-weight: bold;
    font-size:1.6rem;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger{
    display: block;
    cursor: pointer;
  }
  .nav-active {
    transform: translateX(0%);
  }
}

@media screen and (min-width:421px) and (max-width:849px) {
  body {
    overflow-x: hidden;
  }
  .hero h1 {
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  .hero h3 {
    font-size:4vw;
    text-transform: uppercase;
  }
  .skills-section {
    display: block;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 3rem;
    font-size:calc(1.6rem + 1vw);
  }
}

@media screen and (max-width:420px) {
  body {
    overflow-x: hidden;
  }
 .hero h1 {
   font-size: 4rem;
   text-transform: uppercase;
   letter-spacing: 0.2rem;
 }

 .hero h3 {
   font-size: 1.6rem;
   text-transform: uppercase;
 }
 .skills-section {
   display: block;
   margin: 1rem;
   padding: 1rem;
   border: 1px solid var(--primary-color);
   border-radius: 3rem;
   font-size: 1.6rem;
 }
}

